//---------------------------
// Colors
//---------------------------

$color__type: #222222;
$color__type--hover: #FC6B3F;
$brand-color: #a60505;

$body-color: #333;
$grey-bg: #FAFAFA;
$grey-bg--darker: #ECF0F1;
$border-color: #ECF0F1;

$twitter-brand: #55acee;
$twitter-brand--hover: #1E8BC3;
$facebook-brand: #3b5998;
