//---------------------------
// Typography
//---------------------------

$font__serif:    Helvetica, serif;
$font__monospace: Courier, monospace;

$font-size__base:   15px;
$font-size__medium: 14px;
$font-size__small:  12px;
$font-size__tiny:   11px;

$font-weight__light:    300;
$font-weight__regular:  400;
$font-weight__bold:     500;

$line-height__tiny:   round($font-size__tiny   * 1.3);
$line-height__small:  round($font-size__small  * 1.3);
$line-height__medium: round($font-size__medium * 1.3);
$line-height__base:   round($font-size__base   *  1.4);
