---
layout: default
---

{% include base_path %}

{% assign author = site.authors[page.author] %}

<div class="wrapper">
  <div class="row">
    {% if page.slider %}
      <div class="column column--center medium-10 large-10 grey-bg CoverImage">
      {% include flexslider.html %}
      </div>
    {% endif %}

    <div class="column column--center medium-10 large-10">
      <article class="post {% unless page.image %} post--no-image {% endunless %}" itemscope itemtype="http://schema.org/BlogPosting">

        {% if page.image %}
          <meta itemprop="og:image" content="{{ base_path }}{{ page.image }}">
        {% endif %}

        <header class="post__header">
          <h2 class="post__title" itemprop="name headline">{{ page.title }}</h2>
          <h3 class="post__details">{{ page.details }}</h3>
        </header>

        <div class="post-content" itemprop="articleBody">
          {{ content }}
        </div>

        <div class="row">
          <div class="column large-10">
            <div class="post__tags">
              {% for tag in page.tags %}
                <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      
      </article>
    </div>

  </div> <!-- row-->
</div> <!-- wrapper -->
